<%= form_for([@conversation, @reflection]) do |f| %>
  <% if @reflection.errors.any? %>
    <div class="alert alert-error mbl">There were errors saving this petition.</div>
  <% end %>

  <fieldset class="form-group top-align">
    <div class="form-block">
      <%= f.label :'title:' %><br />
      <%= f.text_field :title, :class => 'textbox', :size => '30' %>
    </div>
    <div class="form-block">
      <label for="conversation_title">Your Reflection:</label>
      <%= f.text_area :details, :class => 'short textbox', :cols => '40', :rows => '20' %>
    </div>
    <div class="form-block">
      <%= f.submit :class => 'submit', :value => 'Publish' %> or &nbsp;
      <%= link_to 'Cancel', [@conversation, @reflection], :id => 'cancel-reflection' %>
    </div>
  </fieldset>
<% end %>
