<%= @conversation.id %><br/>
<%= @reflection.inspect %><br/>
<%= "#{conversations_reflections_path(@conversation)}" %>


<%= form_for [@conversation, @reflection], :url => conversation_reflections_path(@conversation) do |f| %>
  <% if @reflection.errors.any? %>
    <div class="alert alert-error mbl">
      <h4>There were errors saving this petition.</h4>
    </div>
  <% end %>

  <fieldset class="form-group top-align">
    <div class="form-block">
      <%= f.label :'title:' %><br />
      <%= f.text_field :title, :class => 'textbox', :size => '30' %>
    </div>
    <div class="form-block">
      <label for="reflection_title">Your Reflection:</label>
      <%= f.text_area :details, :class => 'short textbox', :cols => '40', :rows => '20' %>
    </div>
    <div class="form-block">
      <%= f.submit :class => 'submit', :value => 'Publish' %> or &nbsp;
      <%= link_to 'Cancel', [@conversation, @reflection], :id => 'cancel-reflection' %>
    </div>
  </fieldset>
<% end %>
