<div class="feature-mast">
  <div class="wrapper">
    <div class="content-container">

      <div class="main-content">

        <div class='main-content-left'>
          <img src='<%= @conversation.image.url(:panel) %>' width='120' height='80' alt='<%= @conversation.title %>' class='featured main-img'\>
        </div>
        <div class='main-content-right'>
          <h1><%= @conversation.title %></h1>
          <p class="subtitle">Started on <%= @conversation.created_at.strftime('%b %d, %Y') %> by <%= text_profile(@conversation.owner) %></p>
          <%= render :partial => '/layouts/social_links', :locals => {conversation_title: @conversation.title} %>
        </div>

        <div class='convo-summary'>
          <p><%= raw(@conversation.summary) %></p>
        </div>

        <div class="mod inset project-banner">
          <div class="media">
            <div class="img">
              <img src="http://placehold.it/140x105" />
            </div>
            <div class="bd">
              <h3 class="project-banner-title">Flats Forward</h3>
              <p class="project-banner-summary">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc.</p>
              <p class="project-banner-link"><a href="#">Join more conversations about this project</a></p>
            </div>
            <p class="sponsor-tag">Sponsored</p>
          </div>
        </div>

        <%= render :partial => '/layouts/opportunity_navigation', :locals => {
          conversation: @conversation,
          participants_count: @conversation.community_user_ids.count,
          actions_count: @conversation.actions.count,
          reflections_count: @conversation.reflections.count
        } %>

      </div><!-- /.main-content -->

      <div class='aside supplementary convo-mast-buttons'>

        <span id='subscription'>
          <%= render :partial => '/subscriptions/subscription', :locals => {:subscribable => @conversation} %>
        </span>

      </div><!-- /.aside -->

    </div>

  </div>
</div>
